* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 5em;
  height: 5em;
  z-index: 100;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.125);
  color: white;
  border-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

button.previous {
  position: absolute;
  top: 50vh;
  left: 10vh;
}

button.next {
  position: absolute;
  top: 50vh;
  right: 10vh;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
}

#thumbnail-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 8vw;
  width: 100vw;
  background-color: rgba(139, 139, 139, 0.1);
  backdrop-filter: blur(5px);
  overflow: hidden;
  /* overflow-x: scroll; */
  /* overflow-y: hidden; Hide vertical scrollbar */
  /* scrollbar-width: thin; */
  /* scrollbar-color: rgba(0, 0, 0, 0.125); */
}

.thumbnail-container img {
  padding: 2px;
  width: auto;
  height: 10vh;
  object-fit: cover;
  z-index: 100;
}

@media (width <= 600px) {
  .thumbnail-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10vh;
    width: 100vw;
    position: absolute;
    top: 3vh;
    bottom: auto;
    overflow: scroll;
  }
}

.fullscreen-container {
  display: grid;
  grid-template-columns: 25vh 25vh 25vh 25vh;
  grid-template-rows: 10vh 90vh;
}

#fullscreen-container img {
  width: 100vw;
  height: 100vh;
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 2;
  object-fit: cover;
}

@media (width <= 600px) {
  .fullscreen-container {
    width: 100vw;
    height: 100vh;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: span 2;
    object-fit: fill;
  }
}
